
@media only screen and (max-width: 480px) {
  /* Mobile Devices */
 
.home__wrapper {
  width: 60vw;
  margin: auto;
  margin-top:10vh;
  margin-bottom: 30vh;
}


.home__wrapper h1 {
  font-size: 44px;
  padding: 0;
  margin: 0;
  color:#CCD6F6;
}

.home__wrapper h2 {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  color: yellowgreen;
}

.home__wrapper p {
  color: #CCD6F6;
  font-size: 15px;
  opacity:0.6
}

.resume__btn {
  background-color: transparent;
  height: 40px;
  width:100%;
  border: 1px solid yellowgreen;
  font-family: cursive;
  color:yellowgreen
}

.resume__btn:hover {
  background-color: rgba(121, 197, 121, 0.4);
}
}

@media only screen and (min-width:481px) and (max-width: 768px) {
 /* IPADs */
/* Tablets */
.home__wrapper {
  width: 70vw;
  margin: auto;
  margin-bottom:20vh;
}


.home__wrapper h1 {
  font-size: 70px;
  padding: 0;
  margin: 0;
  color:#CCD6F6;
}

.home__wrapper h2 {
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  color: yellowgreen;
}

.home__wrapper p {
  color: #CCD6F6;
  font-size: 18px;
  opacity:0.6
}

.resume__btn {
  background-color: transparent;
  height: 40px;
  border: 2px solid yellowgreen;
  font-family: cursive;
  color:yellowgreen
}

.resume__btn:hover {
  background-color: rgba(121, 197, 121, 0.4);
}
}

@media only screen and (min-width:769px) and (max-width: 1024px) {
 /* Small Screen Laptops */
 .home__wrapper {
  width: 75vw;
  margin: auto;
  margin-top:10vh;
  margin-bottom:20vh;
}


.home__wrapper h1 {
  font-size: 70px;
  padding: 0;
  margin: 0;
  color:#CCD6F6;

}

.home__wrapper h2 {
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  color: yellowgreen;
}

.home__wrapper p {
  color: #CCD6F6;
  font-size: 18px;
  opacity:0.6;
  width:80%;
  margin-top: 0%;
}

.resume__btn {
  background-color: transparent;
  height: 40px;
  border: 2px solid yellowgreen;
  font-family: cursive;
  color:yellowgreen
}

.resume__btn:hover {
  background-color: rgba(121, 197, 121, 0.4);
}
}


@media only screen and (min-width:1024px) and (max-width: 1200px) {
  /* Desktops */
  .home__wrapper {
    width: 80%;
    margin: auto;
    margin-bottom: 10%;
  }
  
  
  .home__wrapper h1 {
    font-size: 80px;
    padding: 0;
    margin: 0;
    color:#CCD6F6;
  }
  
  .home__wrapper h2 {
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    color: yellowgreen;
  }
  
  .home__wrapper p {
    color: #CCD6F6;
    font-size: 20px;
    opacity:0.6;
    width:60%;
  }
  
  .resume__btn {
    background-color: transparent;
    height: 60px;
    width: 160px;
    border: 2px solid yellowgreen;
    font-family: cursive;
    color:yellowgreen
  }
  
  .resume__btn:hover {
    background-color: rgba(121, 197, 121, 0.4);
  }
}

@media only screen and (min-width:1201px) {
/* Extra large screens,TV */

.home__wrapper {
  width: 80%;
  margin: auto;
  margin-bottom: 10%;
}


.home__wrapper h1 {
  font-size: 100px;
  padding: 0;
  margin: 0;
  color:#CCD6F6;
}

.home__wrapper h2 {
  font-size: 100px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  color: yellowgreen;
}

.home__wrapper p {
  color: #CCD6F6;
  font-size: 25px;
  opacity:0.6;
  width:60%;
}

.resume__btn {
  background-color: transparent;
  height: 60px;
  width:160px;
  border: 2px solid yellowgreen;
  font-family: cursive;
  color:yellowgreen
}

.resume__btn:hover {
  background-color: rgba(121, 197, 121, 0.4);
}

}