.navbar {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  height: auto;
  /* position: sticky; */
  top: 0;
  /* background-color: rgb(211, 175, 128, 0.3); */
}

.navbar__scroll {
  /* background-color: rgba(121, 197, 121, 0.6); */
  background-color: red;
}

a {
  text-decoration: none;
  color: black;
}

.navbar li {
  padding: 25px;
  color: black;
  font-weight: 800;
  display: inline-block;
}

.navbar li:hover {
  cursor: pointer;
  background-color: rgba(121, 197, 121, 0.6);
}

.navbar li:active {
  background-color: blue;
}

.active {
  background-color: orchid;
}
.logo {
  font-size: 30px;
  font-weight: 1000;
  border: 2px dashed rgb(121, 197, 121);
  margin: 2%;
  padding: 3px 10px;
}
