/* .projectItem__card {
  display:grid;
  height:250px;
  font-size: 15px;
  margin-right:15px;
  margin-bottom:15px;
  transition: transform 400ms;
  border:1px solid  rgba(121, 197, 121, 0.3);
  border-radius: 15;
  background-color:rgb(10, 10, 53) !important;
}

.card__header{
  display: flex;
  justify-content:space-between;
  height:7vh;
  color:#CCD6F6;
  margin-bottom: 0px;
} */

/* .card__header h4{
  padding-left:15px;
  font-size:15px;
  margin-top:10px;
 color: #CCD6F6
} */
/* 
.icons{
  float:center;
  margin-top:12px */
    /* writing-mode: vertical-rl; */
/* } */

/* .icons a{  
  writing-mode: vertical-rl;
  color:rgb(97, 129, 44);
  font-size:15px; */
  /* padding:1px; */

/* } */
/* .card__body{
  font-size: 12px;
  padding:10px;
  height:3vh;
  margin-top:0px;
} */

/* .card__footer{
  position:relative;
  bottom:0px;
  margin-bottom: 10px;
  height:10vh
} */

/* .technology__list li{
  list-style-type: none;
  display: inline;
  padding-right:12px;
  padding-left:0px;
  margin-left:0px;
  color:#CCD6F6;
  font-size: 15px;
  font-weight: 700;
  float:center;
 }  */



@media only screen and (max-width: 480px) {
  /* Mobile Devices */
  .projectItem__card {
    display:grid;
    height:250px;
    font-size: 15px;
    margin-bottom:5vh;
    transition: transform 400ms;
    border:none;
    border-radius: 15px;
    background-color:rgb(20, 20, 73) !important;
    transition: transform 500ms;
  }
  
  .projectItem__card:hover{
    transform: translateY(-8px)
  }
  
  .card__header{
    display: flex;
    justify-content:space-between;
    height:7vh;
    color:rgb(61, 60, 60);
    margin-bottom: 0px;
  }
  
  .card__header h4{
    padding-left:15px;
    font-size:17px;
    margin-top:10px;
    opacity: 0.7;
    color: #CCD6F6;
  }
  
  .icons{
    float:center;
    margin-top:12px
  }
  
  .icons a{  
    writing-mode: vertical-rl;
    color:yellowgreen;
    font-size:15px;
  }
  
  .card__body{
    font-size: 12px;
    padding:10px;
    height:3vh;
    margin-top:0px;
    color:yellowgreen;
    /* opacity: 0.7; */
  }
  
  .card__footer{
    position:relative;
    bottom:0px;
    top:50px;
    height:15vh;
  }
  
  .technology__list{
    padding-right:5px;
    float:right;
    /* float:center !important; */
  }
  
  .technology__list li{
    list-style-type: none;
    display: inline;
    padding:1px;
    color:#CCD6F6;
    opacity:0.3;
    font-size: 9px;
    font-weight: 900;
   } 
}

@media only screen and (min-width:481px) and (max-width: 768px) {
 /* IPADs */
/* Tablets */
.projectItem__card {
  display:grid;
  height:250px;
  font-size: 15px;
  margin-bottom:5vh;
  transition: transform 400ms;
  border:none;
  border-radius: 15px;
  background-color:rgb(20, 20, 73) !important;
  transition: transform 500ms;
}

.projectItem__card:hover{
  transform: translateY(-8px)
}

.card__header{
  display: flex;
  justify-content:space-between;
  height:7vh;
  color:rgb(61, 60, 60);
  margin-bottom: 0px;
}

.card__header h4{
  padding-left:15px;
  font-size:17px;
  margin-top:10px;
  opacity: 0.7;
  color: #CCD6F6;
}

.icons{
  float:center;
  margin-top:12px
}

.icons a{  
  writing-mode: vertical-rl;
  color:yellowgreen;
  font-size:15px;
}

.card__body{
  font-size: 12px;
  padding:10px;
  height:3vh;
  margin-top:0px;
  color:yellowgreen;
  /* opacity: 0.7; */
}

.card__footer{
  position:relative;
  bottom:0px;
  top:50px;
  height:15vh;
}

.technology__list{
  padding-right:5px;
  float:right;
  /* float:center !important; */
}

.technology__list li{
  list-style-type: none;
  display: inline;
  padding:1px;
  color:#CCD6F6;
  opacity:0.3;
  font-size: 9px;
  font-weight: 900;
 } 
}

@media only screen and (min-width:769px) and (max-width: 1024px) {
 /* Small Screen Laptops */
 .projectItem__card {
  display:grid;
  height:250px;
  font-size: 15px;
  margin-right:15px;
  margin-bottom:15px;
  transition: transform 400ms;
  border:none;
  border-radius: 15;
  background-color:rgb(20, 20, 73) !important;
  transition: transform 500ms;

}

.projectItem__card:hover{
  transform: translateY(-8px)
}

.card__header{
  display: flex;
  justify-content:space-between;
  height:7vh;
  color:rgb(61, 60, 60);
  margin-bottom: 0px;
}

.card__header h4{
  padding-left:15px;
  font-size:15px;
  margin-top:10px;
  opacity: 0.7;
}

.icons{
  float:center;
  margin-top:12px
}

.icons a{  
  writing-mode: vertical-rl;
  color:yellowgreen;
  font-size:15px;
}

.card__body{
  font-size: 12px;
  padding:10px;
  height:3vh;
  margin-top:0px;
  color:yellowgreen;
  /* opacity: 0.7; */
}

.card__footer{
  position:relative;
  bottom:0px;
  top:50px;
  height:15vh;
}

.technology__list{
  padding-right:5px;
  float:right;
  /* float:center !important; */
}

.technology__list li{
  list-style-type: none;
  display: inline;
  padding:1px;
  color:#CCD6F6;
  opacity:0.3;
  font-size: 9px;
  font-weight: 900;
 } 
}

@media only screen and (min-width:1024px) and (max-width: 1200px) {
  /* Desktops */
  .projectItem__card {
    display:grid;
    height:250px;
    font-size: 15px;
    margin-right:15px;
    margin-bottom:15px;
    transition: transform 400ms;
    border:none;
    border-radius: 15;
    background-color:rgb(20, 20, 73) !important;
    transition: transform 500ms;
  
  }
  
  .projectItem__card:hover{
    transform: translateY(-8px)
  }
  
  .card__header{
    display: flex;
    justify-content:space-between;
    height:7vh;
    color:rgb(61, 60, 60);
    margin-bottom: 0px;
  }
  
  .card__header h4{
    padding-left:15px;
    font-size:15px;
    margin-top:10px;
    opacity: 0.7;
  }
  
  .icons{
    float:center;
    margin-top:12px
  }
  
  .icons a{  
    writing-mode: vertical-rl;
    color:yellowgreen;
    font-size:15px;
  }
  
  .card__body{
    font-size: 12px;
    padding:10px;
    height:3vh;
    margin-top:0px;
    color:yellowgreen;
    /* opacity: 0.7; */
  }
  
  .card__footer{
    position:relative;
    bottom:0px;
    top:50px;
    height:15vh;
  }
  
  .technology__list{
    padding-right:5px;
    float:right;
    /* float:center !important; */
  }
  
  .technology__list li{
    list-style-type: none;
    display: inline;
    padding:1px;
    color:#CCD6F6;
    opacity:0.3;
    font-size: 9px;
    font-weight: 900;
   } 
}

@media only screen and (min-width:1201px) {
/* Extra large screens,TV */
.projectItem__card {
  display:grid;
  height:250px;
  font-size: 15px;
  margin-right:15px;
  margin-bottom:15px;
  transition: transform 400ms;
  border:none;
  border-radius: 15;
  background-color:rgb(20, 20, 73) !important;
  transition: transform 500ms;

}

.projectItem__card:hover{
  transform: translateY(-8px)
}

.card__header{
  display: flex;
  justify-content:space-between;
  height:7vh;
  color:rgb(61, 60, 60);
  margin-bottom: 0px;
}

.card__header h4{
  padding-left:15px;
  font-size:15px;
  margin-top:10px;
  opacity: 0.7;
}

.icons{
  float:center;
  margin-top:12px
}

.icons a{  
  writing-mode: vertical-rl;
  color:yellowgreen;
  font-size:15px;
}

.card__body{
  font-size: 12px;
  padding:10px;
  height:3vh;
  margin-top:0px;
  color:yellowgreen;
  /* opacity: 0.7; */
}

.card__footer{
  position:relative;
  bottom:0px;
  top:50px;
  height:15vh;
}

.technology__list{
  padding-right:5px;
  float:right;
  /* float:center !important; */
}

.technology__list li{
  list-style-type: none;
  display: inline;
  padding:1px;
  color:#CCD6F6;
  opacity:0.3;
  font-size: 9px;
  font-weight: 900;
 } 
}