@media only screen and (max-width: 480px) {
  /* Mobile Devices */
  .projectItem__card {
    display:block;
    height:300px;
    font-size: 20px;
    margin-bottom:3vh;
    transition: transform 400ms;
    border:none;
    border-radius: 15px;
    background-color:rgb(20, 20, 73) !important;
    transition: transform 500ms;
    padding:10px
  }
  
  .projectItem__card:hover{
    transform: translateY(-8px)
  }
   
  .projectItem__card:hover .icons{
    display:block;
    position:absolute;
    float: right;
    top:0px;
    right:20px;
}
  .card__header{
    height:5vh;
    color:white;
    margin-bottom: 0px;
  }
  
  .card__header h4{
    font-size:20px;
    margin-top:7vh;
    opacity: 0.7;
  }
  
  .icons{
    float:right;
    display: none;
    animation: pop 0.5s;
  }
  
  .icons a{  
    writing-mode: vertical-rl;
    color:yellowgreen;
    font-size:25px;
  }
  
  .card__body{
    font-size: 12px;
    padding:10px;
    height:5vh;
    margin-top:0px;
    color:white;
    opacity: 0.6;
  }
  
  .card__footer{
    position:relative;
    bottom:0px;
    top:50px;
    height:15vh;
  }
  
  .technology__list{
    padding-right:5px;
    float:right;
  }
  
  .technology__list li{
    list-style-type: none;
    display: inline;
    padding:1px;
    color:yellowgreen;
    font-size: 11px;
    font-weight: 900;
   } 
}

@media only screen and (min-width:481px) and (max-width: 768px) {
 /* IPADs */
/* Tablets */
.projectItem__card {
  display:block;
  height:300px;
  font-size: 20px;
  margin-bottom:3vh;
  transition: transform 400ms;
  border:none;
  border-radius: 15px;
  background-color:rgb(20, 20, 73) !important;
  transition: transform 500ms;
  padding:10px
}

.projectItem__card:hover{
  transform: translateY(-8px)
}
 
.projectItem__card:hover .icons{
  display:block;
  position:absolute;
  float: right;
  top:0px;
  right:20px;
}
.card__header{
  height:5vh;
  color:white;
  margin-bottom: 0px;
}

.card__header h4{
  font-size:20px;
  margin-top:7vh;
  opacity: 0.7;
}

.icons{
  float:right;
  display: none;
  animation: pop 0.5s;
}

.icons a{  
  writing-mode: vertical-rl;
  color:yellowgreen;
  font-size:25px;
}

.card__body{
  font-size: 12px;
  padding:10px;
  height:5vh;
  margin-top:0px;
  color:white;
  opacity: 0.6;
}

.card__footer{
  position:relative;
  bottom:0px;
  top:50px;
  height:15vh;
}

.technology__list{
  padding-right:5px;
  float:right;
}

.technology__list li{
  list-style-type: none;
  display: inline;
  padding:1px;
  color:yellowgreen;
  font-size: 11px;
  font-weight: 900;
 } 
}

@media only screen and (min-width:769px) and (max-width: 1024px) {
 /* Small Screen Laptops */
 .projectItem__card {
  display:grid;
  height:350px;
  font-size: 20px;
  margin-right:15px;
  margin-bottom:15px;
  transition: transform 400ms;
  border:none;
  border-radius: 15;
  background-color:rgb(20, 20, 73) !important;
  transition: transform 500ms;
  padding:13px
}

.projectItem__card:hover{
  transform: translateY(-8px)
}
.projectItem__card:hover .icons{
  display:block;
  position:absolute;
  float: right;
  top:0px;
  right:20px;
}

.card__header{
  height:5vh;
  color:white;
  margin-bottom: 0px;
}

.card__header h4{
  font-size:25px;
  margin-top:7vh;
  opacity: 0.7;
}

.icons{
  float:center;
  display: none;
  animation: pop 0.5s;
}

.icons a{  
  writing-mode: vertical-rl;
  color:yellowgreen;
  font-size:25px;
}

.card__body{
  font-size: 14px;
  padding:10px;
  height:5vh;
  margin-top:0px;
  color:white;
  opacity: 0.6;
}

.card__footer{
  position:relative;
  bottom:0px;
  top:50px;
  height:15vh;
}

.technology__list{
  padding-right:5px;
  float:right;
}

.technology__list li{
  list-style-type: none;
  display: inline;
  padding:1px;
  color:yellowgreen;
  font-size: 12px;
  font-weight: 900;
 } 
}

@media only screen and (min-width:1024px) and (max-width: 1200px) {
  /* Desktops */
  .projectItem__card {
    display:grid;
    height:350px;
    font-size: 20px;
    margin-right:15px;
    margin-bottom:15px;
    transition: transform 400ms;
    border:none;
    border-radius: 15;
    background-color:rgb(20, 20, 73) !important;
    transition: transform 500ms;
    padding:13px
  }
  
  .projectItem__card:hover{
    transform: translateY(-8px)
  }
  
  .projectItem__card:hover .icons{
    display:block;
    position:absolute;
    float: right;
    top:0px;
    right:20px;
  }

  .card__header{
    height:5vh;
    color:white;
    margin-bottom: 0px;
  }
  
  .card__header h4{
    font-size:25px;
    margin-top:7vh;
    opacity: 0.7;
  }
  
  .icons{
    float:right;
    display: none;
  animation: pop 0.5s;
  }
  
  .icons a{  
    writing-mode: vertical-rl;
  color:yellowgreen;
  font-size:25px;
  }
  
  .card__body{
    font-size: 15px;
    padding:10px;
    height:5vh;
    margin-top:0px;
    color:white;
    opacity: 0.6;
  }
  
  .card__footer{
    position:relative;
    bottom:0px;
    top:50px;
    height:15vh;
  }
  
  .technology__list{
    padding-right:5px;
    float:right;
  }
  
  .technology__list li{
    list-style-type: none;
    display: inline;
    padding:1px;
    color:yellowgreen;
    font-size: 12px;
    font-weight: 900;
   } 
}

@media only screen and (min-width:1201px) {
/* Extra large screens,TV */
.projectItem__card {
  display:grid;
  height:350px;
  font-size: 20px;
  margin-right:15px;
  margin-bottom:15px;
  transition: transform 400ms;
  border:none;
  border-radius: 15;
  background-color:rgb(20, 20, 73) !important;
  transition: transform 500ms;
  padding:13px;
}

.projectItem__card:hover{
  transform: translateY(-8px);
}

.projectItem__card:hover .icons{
  display:block;
  position:absolute;
  float: right;
  top:0px;
  right:20px;
}

.card__header{
  height:5vh;
  color:white;
  margin-bottom: 0px;
}

.card__header h4{
  font-size:25px;
  margin-top:7vh;
  opacity: 0.7;
}

.icons{
  float:right;
  display: none;
  animation: pop 0.5s;
}

.icons a{  
  writing-mode: vertical-rl;
  color:yellowgreen;
  font-size:25px;
}

.card__body{
  font-size: 15px;
  padding:10px;
  height:5vh;
  margin-top:0px;
  color:white;
  opacity: 0.6;
}

.card__footer{
  position:relative;
  bottom:0px;
  top:50px;
  height:15vh;
}

.technology__list{
  padding-right:5px;
  float:right;
}

.technology__list li{
  list-style-type: none;
  display: inline;
  padding:1px;
  color:yellowgreen;
  font-size: 13px;
  font-weight: 900;
 } 

}

@keyframes pop {
  0%{top: 50px;opacity: 0;}
  30%{top: 30px;opacity: 0.3;}
  60%{top: 20px;opacity: 0.5;}
  100%{top: 10px;opacity: 1}
}