.sticky-mail {
  writing-mode: vertical-rl;
  color: black;
  position: fixed;
  bottom: 150px;
  margin-left: 20px;
  font-family: monospace;
  float: right !important;
  transition: transform 500ms;
}

.sticky-mail:hover {
  color: rgb(121, 197, 121);
  /* bottom: 153px; */
  transform: scale(1.1);
}
